#bandeau{
    width=100%;
    height=50px;
    background-color: #CC0033;
    border-radius: 10px;
}
h1{
    color:white;
    font-family: Trebuchet MS;
    margin-left: 10px;
}
p{
    font-family: Trebuchet MS;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
img{
    height:300px;
    width:30%;
    margin-left:35%;
    margin-top: 75px;
}