.button{

  padding: 1%;
  background: #CC0033;
  color : white;
  transition: all 0.15s ease-in-out;
  border-radius: 4px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button:hover {
  background: white;
  color: #CC0033;
}
