
.blocinscri form {
    width:100%;
    margin: auto;
}

}
.centre {
    position:relative;
    width:80%;
    margin: auto;
}

.plusieurs{
    display:inline-block;
}

.long{
    height:;
    width: 100%
}
.label{
    display:inline-block;
    width: 20%;
}
.long input{
    display:inline-block;
    width:78%;
}

.gauche{
    font-size:small;
}
label {
    display:inline-block;
    margin-top:30px;
    //width:8%;

}
h2{
  font-size: 300%;
  text-align: center;


}
section.inpair{
  height: 100%;

}
section.inpair:nth-child(odd){


}
.question{
    color: #cc0033;
    font-weight:bold;
    font-size: 200%;
    border-bottom: 4px solid #cc0033;
    border-radius: 2px;
}
.reponse{
    color: rgb(70,70,70);
    font-weight: bold;
}
