/*Title*/
h2{
  font-size: 300%;
  text-align: center;
  color: rgb(119,119,119);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1{
    color:white;
    font-family: Trebuchet MS;
    margin-left: 10px;
}
p{
    font-family: Trebuchet MS;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
