
h1{
    color:white;
    font-family: Trebuchet MS;
    margin-left: 10px;
}
p{
    font-family: Trebuchet MS;
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
