div.app-events-home {
  margin: 20px 0;
}

div.app-events-home div.slideshow-container div.slideshow {
  z-index: -60;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

div.app-events-home div.slideshow-container div.slideshow div.slidesjs-container {
  height: 600px;
}

div.app-events-home div.slideshow-container div.slideshow div.slidesjs-container img {
  height: 600px;
  object-fit: cover;
}

div.app-events-home div.slideshow-container a.slidesjs-navigation {
  position: absolute;
  top: 375px;
  font-size: 50px;
  text-decoration: none;
}

div.app-events-home div.slideshow-container a.slidesjs-navigation.slidesjs-previous {
  left: 10px;
}

div.app-events-home div.slideshow-container a.slidesjs-navigation.slidesjs-next {
  right: 10px;
}

div.app-events-home div.slideshow-container div.slideshow-details {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 400px;
}

div.app-events-home div.slideshow-container div.slideshow-details div.slide {
  display: none;
}

div.app-events-home div.slideshow-container div.slideshow-details div.slide a {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

div.app-events-home div.slideshow-container div.slideshow-details div.slide a div.caption {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 300px;
  width: 400px;
  height: 100px;
  padding: 10px;
}

div.app-events-home div.slideshow-container div.slideshow-details div.slide a div.caption span.theme {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #880000;
  color: white;
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  div.app-events-home div.slideshow-container div.slideshow-details {
    width: 1200px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  div.app-events-home div.slideshow-container div.slideshow-details {
    width: 970px;
  }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  div.app-events-home div.slideshow-container div.slideshow-details {
    width: 750px;
  }
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  div.app-events-home div.slideshow-container div.slideshow {
    height: 450px;
  }

  div.app-events-home div.slideshow-container div.slideshow div.slidesjs-container {
    height: 450px;
  }

  div.app-events-home div.slideshow-container div.slideshow div.slidesjs-container img {
    height: 450px;
  }

  div.app-events-home div.slideshow-container a.slidesjs-navigation {
    top: 300px;
  }

  div.app-events-home div.slideshow-container div.slideshow-details {
    height: 250px;
    left: 0; right: 0;
  }

  div.app-events-home div.slideshow-container div.slideshow-details div.slide a div.caption {
    margin-top: 150px;
    width: 100%;
  }
}

div.app-events-home div.home-wrapper {
  margin: 0 -15px;
  margin-top: 415px;
  background-color: #fff;
  border: 1px solid #ddd;
}

div.app-events-home div.home-wrapper h2.title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #CC0033;
  margin: 15px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #EAEAEA;
}

div.app-events-home div.home-wrapper ul.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  div.app-events-home div.home-wrapper {
    margin-top: 265px;
  }
}

div.app-events-home div.home-wrapper ul.events:after {
  content: ' ';
  display: block;
  clear: both;
}

div.app-events-home div.home-wrapper ul.events li {
  position: relative;
  float: left;
  margin: 15px 0;
  padding: 0 15px;
  width: 33.33333333%;
  height: 200px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  div.app-events-home div.home-wrapper ul.events li {
    width: 50%;
  }
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  div.app-events-home div.home-wrapper ul.events li {
    width: 100%;
  }
}

div.app-events-home div.home-wrapper ul.events li:after {
  content: ' ';
  display: block;
  clear: both;
}

div.app-events-home div.home-wrapper ul.events li div.poster {
  float: left;
  width: 35%;
  height: 200px;
  overflow: hidden;
}

div.app-events-home div.home-wrapper ul.events li div.poster img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.app-events-home div.home-wrapper ul.events li div.caption {
  float: left;
  width: 65%;
  height: 200px;
  padding: 10px;
  background: #CC0033;
  color: white;
}

div.app-events-home div.home-wrapper ul.events li div.caption span.theme {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #880000;
  color: white;
}

div.app-events-home div.home-wrapper ul.events li div.caption h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
}

div.app-events-home div.home-wrapper ul.events li div.caption h3 a {
  color: white;
}
