/*Section*/

div.app-events-home {
  margin-top: 415px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(166, 166, 166);
  border-style: solid;
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  div.app-events-home {
    margin-top: 215px;
  }

}

/*-----slider-----*/

div.slider {
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 600px;
  background-image: url(http://blogs.paris.fr/unitedstatesofparis/files/2014/09/Soir%C3%A9e-The-Underwater-2-les-myst%C3%A8res-des-fonds-marins-by-Agence-Wato-We-are-the-Oracle-%C3%A9v%C3%A9nement-clubbing-nuit-Piscine-Pailleron-photo-by-United-States-of-Paris.jpg);
  background-size: cover;
  background-position: center;
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  div.slider {
    height: 400px;
  }
}

/*-----barre recherche-----*/

div.search_h {
  width: 80%;
  border: 2px #CC0033 solid;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}
div.search_h form {
  text-align: center;
}
div.search_h form input {
  margin: 0 10px
}
div.search_h form select {
  margin: 0 10px
}
div.search_h select {
  color: black;
  border: 1px solid black;
  background-color: white;
  -webkit-appearance: none;
  border-radius: 5px;
}
div.search_h input[type="date"] {
  -webkit-appearance: none;
}
div.search_h input[type="submit"] {
  color: white;
  background-color: #CC0033;
  border: 1px solid black;
  -webkit-appearance: none;
  border-radius: 5px;
}
select option:disabled {
  height: 0px;
  visibility: hidden;
}

/*----resultat event----*/

section ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 5px;
  height: 50px;
}

/*pour mettre ce qui suit après les elements flottants*/

section::after {
  content: " ";
  display: block;
  clear: both;
}

/*gestion des blocks (taille, ecritures, images...) */

section ul li {
  float: left;
  margin: 10px;
  width: calc(50% - 20px);
  position: relative;
}
/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {
  section ul li {
    float: left;
    margin: 10px;
    width: calc(100% - 20px);
    position: relative;
  }
}
section ul li div.event_text {
  float: left;
  width: 50%;
  height: 155px;
  background: #CC0033;
}
section ul li div p {
  padding-left: 5px;
  font-size: 11px;
  color: white;
  font-weight: bold;
}
section ul li div h2 {
  padding-left: 50px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
section ul li .image {
  float: left;
  width: 50%;
  height: 155px;
  background-size: cover;
  background-position: center;
}
section ul .liens_ima {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
section ul .coeur {
  margin-right: 10px;
  height: 20px;
}
section ul .croix {
  height: 20px;
}
section ul .fleche {
  position: absolute;
  height: 30px;
  top: 0px;
  left: calc(50% - 23px);
}
