/**
 * General styles
 */

* {
  box-sizing: border-box;
}
body {
  color: black;
  background-color: #f8f8f8;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.8em;
}
a, a:focus {
  color: #CC0033;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #880000;
  text-decoration: underline;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

/**
 * Fluid wrapper
 */

.fluid-wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

/*
 * Main header
 */

div.main-head {
  background: rgba(255, 255, 255, 0.7);
  height: 150px;
}
div.main-head header {
  max-width: 1200px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}
div.main-head header .socials {
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
div.main-head header .socials .fa {
  margin: 50px 10px;
  margin-bottom: 0;
  font-size: 50px;
}
div.main-head header .logo {
  display: block;
  margin: 0 auto;
  height: 150px;
}
div.main-head header .login {
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
}
div.main-head header .login.connected {
  padding: 50px;
}
div.main-head header .login a.button {
  text-decoration: none;
  display: inline-block;
  width: 125px;
  text-align: center;
  height: 34px;
  margin: 58px 5px;
  margin-bottom: 0;
  padding: 10px 8px;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
div.main-head header .login a.button:hover {
  color: white;
  background-color: #CC0033;
  border-color: #CC0033;
}

/**
 * Main Navigation
 */

nav.main-navigation {
  background: #CC0033;
  color: white;
  height: 50px;
}
nav.main-navigation ul {
  list-style-type: none;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  height: 50px;
}
nav.main-navigation ul li {
  float: left;
  height: 50px;
}
nav.main-navigation ul li.search {
  float: right;
  margin-right: 10px;
}
nav.main-navigation ul li.search p {
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  margin: 9px;
  padding: 5px;
}
nav.main-navigation ul li.search button {
  background: transparent;
  color: black;
  border: 0;
  font-size: 1.2em;
}
nav.main-navigation ul li.search input[type="search"] {
  border: 0;
  background: transparent;
  color: black;
  font-size: 1.2em;
}
nav.main-navigation ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.main-navigation ul li a:hover {
  background: white;
  color: #CC0033;
}
nav.main-navigation ul::after {
  content: " ";
  display: block;
  clear: both;
}

/*
 * Hide mobile menu by default
 */

nav.main-navigation .mobile {
  display: none;
}

/**
 * Main content wrapper
 */

section.main-content {
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/**
 * Main footer
 */

footer.main-footer {
  background: #CC0033;
  color: white;
}
footer.main-footer ul.widgets {
  list-style-type: none;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
footer.main-footer ul.widgets::after {
  content: ' ';
  display: block;
  clear: both;
}
footer.main-footer ul.widgets > li {
  width: 25%;
  padding: 0 15px;
  float: left;
}
footer.main-footer ul.widgets > li h3.title {
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
footer.main-footer ul.widgets > li > ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer.main-footer ul.widgets > li > ul.links > li > a {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 10px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer.main-footer div.lower-foot {
  background: #9a0027;
}
footer.main-footer div.lower-foot div.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/*
 * Error and warning messages
 */

div.note {
  width: 100%;
  max-width: 600px;
  color: white;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
}
div.note a {
  color: white;
  text-decoration: underline;
}
div.note.error {
  background-color: #CC0033;
}
div.note.success {
  background-color: #1fa67a;
}
div.note.question {
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
div.note .fa {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
}
div.note ul {
  width: 80%;
  width: calc(100% - 3em - 30px);
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
div.note ul li {
  padding: 5px;
}
div.note ul li h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
div.note ul li .fa {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}
div.note ul.buttons {
  width: 100%;
  display: block;
  margin: 0;
  margin-top: 20px;
  text-align: right;
}
div.note ul.buttons::after {
  content: ' ';
  display: block;
  clear: both;
}
div.note ul.buttons li {
  display: inline-block;
}
div.note ul.buttons li a {
  text-decoration: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
div.note ul.buttons li a:hover {
  background: #eee;
}
div.note ul.buttons li a.confirm {
  color: #fff;
  background-color: #1fa67a;
  border-color: #17995c;
}
div.note ul.buttons li a.confirm:hover {
  background-color: #17995c;
}
div.note ul.buttons li a.danger {
  color: #fff;
  background-color: #CC0033;
  border-color: #880000;
}
div.note ul.buttons li a.danger:hover {
  background-color: #880000;
}

/**
  * Misc : Cookie notice
  */

#cookie-notice {
  display: none;
  position: fixed;
  min-width: 100%;
  height: auto;
  z-index: 100000;
  font-size: 12px;
  line-height: 18px;
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0;
}
#cookie-notice .accept-button {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 12px;
  background-color: #CC0033;
  color: white;
}
