.blocinscri form {
    width:80%;
    margin: auto;
}
.centre {
    position:relative;
    width:80%;
    margin: auto;
}
.right {
    diplay:inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.blocinscri form .long {
    width:80%;
   
    position:absolute;
    right:20px;
    
}
label , input, .long{
    display:inline-block;
    margin-top:30px;
    
}
#bouton{
    width:200px;
}