* {
  box-sizing: border-box;
}
a:focus {
	outline: none;
}
img {
	border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
html {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.75em;
}
body {
  margin: 0;
  padding: 0;
}
.fluid-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  position: relative;
}
header {
  background: rgba(255, 255, 255, 0.4);
}
.logo{
    margin: 0 auto;
    width:267px;
}
nav.main-navigation {
  background: #CC0033;
  color: white;
  height: 50px;
}
nav.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
}
nav.main-navigation ul li {
  float: left;
  height: 50px;
}
nav.main-navigation ul li.search {
  float: right;
  margin-right: 10px;
}
nav.main-navigation ul li.search p {
  border: 1px solid white;
  border-radius: 5px;
}
nav.main-navigation ul li.search button {
  background: transparent;
  border: 0;
  font-size: 1.2em;
}
nav.main-navigation ul li.search input[type="search"] {
  border: 0;
  background: transparent;
  color: white;
  font-size: 1.2em;
}
nav.main-navigation ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.main-navigation ul li a:hover {
  background: white;
  color: #CC0033;
}
nav.main-navigation ul::after {
  content: " ";
  display: block;
  clear: both;
}
div.slider {
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url(http://blogs.paris.fr/unitedstatesofparis/files/2014/09/Soir%C3%A9e-The-Underwater-2-les-myst%C3%A8res-des-fonds-marins-by-Agence-Wato-We-are-the-Oracle-%C3%A9v%C3%A9nement-clubbing-nuit-Piscine-Pailleron-photo-by-United-States-of-Paris.jpg);
  background-size: cover;
  background-position: center;
}
div.search_h{
    border: 2px #CC0033 solid;
    background:rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 300px;
    padding: 2px;

}
div.search_h form{
    text-align: center;
}
div.search_h form input{
    margin:0 10px
}
div.search_h form select{
    margin:0 10px
}
section ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  //width:912px;
  //calc(4*228px); 912 la taille de 4 elements
}
section ul li{
  float: left;
  margin: 14px;
  width: calc(50% - 28px);
}
section ul li div{
  float: left;
  width:50%;
  height:100px;
  background: #CC0033;
}
section ul li div p{
padding-left: 5px;
color:white;
font-weight:bold;
}
section ul li .image{
    float:left;
    width:50%;
    height:100px;
    background-size: cover;
    background-position: center;
}
