

label
{
    width:50%;
    display: inline-block;
}

section *
{
    margin:2%;
}

input
{
    width:40%;
}

.form
{
  width : 60%;
  margin : 0 auto;
}

legend
{
  font-weight: bold;
  font-size: 20px;
}
