h1
{
   border-collapse:collapse;
   text-align: center;
   margin-bottom:10%;
}

.photoperso
{
    box-shadow: 6px 6px 6px black ;
    padding : 3px;
    color : black;
    text-decoration:none;
    border: 1px solid black;
}

.LAPHOTO,.infoperso
{
    display:inline-block;
    width :45%;
}


.Principal
{
    margin:10px
}


.nom, .prenom
{
    display:inline-block;
}

.prenom
{
    margin-left : 10%;
}

#LATOTALESUPERCHOUETTE
{
    margin : 0 auto;
    width : 80%;
}

.infoperso
{
    margin-left : 5%;
   vertical-align: top;
}



#adressephysique, #adressemail, #telephone
{
    border-collapse:collapse;
}


#adressephysique,.codepostal,#adressemail,.ville,#telephone
{
    margin-bottom:20px;
    display:inline-block;
    margin-right: 10px;
}

#codepostal,#pays
{
  margin-top: 10px;
  margin-right: 10px;
}

#codepostal
{
  margin-left: 10px;
}

.moncommentaire
{

}

#ville,.prenom,#codepostal,#pays
{
  margin-top:10px;
  margin-right :10px;
}

#interet
{
    display:inline-block;
    margin-top:10px;
}

.infoperso2 label
{
    display:inline-block;
    margin-bottom:10px;
}

#interet
{
    width:100%;
}

.affichage
{
    margin-top:3%;

}

.textlaissercommentaire
{
    width:100%;
}

.affichage input
{
    margin-left:8%;
}


.envoyer, .annuler
{
    width:20%;
    display:inline-block;
    margin-left : 15%;
    margin-top:20px;
}

.updateprofil
{
  color:black;
  border : 1px black solid;
  box-shadow: 1px 1px 1px black;
  margin-top: 20px;
  display : inline-block;
  margin-bottom:20px;
  border: 0;
  background: #CC0033;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 6px 3px;
}

input
{
  margin-bottom: 10px;
}
select
{
  margin-bottom: 10px;
}
