#titre{
    text-align: center;
}
#resultat{
    border: 1px solid #CC0033;
    width: 100%;
    max-width: 100%;
}
#resultat td{
  font-size: 18px;
  text-align: center;
}
#resultat tr:hover{
    background-color:#EAEAEA;
}
.discret{
    color:black;
}
#nb input{
    border: 2px solid #CC0033;
    color:black;
    width:79px;
    text-align: center;
}
#nb input:focus{
    border: 2px solid #CC0033;
    color:#CC0033;
    font-weight:bold;
    width:79px;
    border-bottom:none;
    outline:none;
}
#nb input{
    border: 2px solid #CC0033;
    color:#CC0033;
    width:79px;
}
#nb select:focus{
    margin-top:1px;
    border: 2px solid #CC0033;
    font-weight:bold;
    color:#CC0033;
    width:49px;
    border-bottom:none;
    outline:none;
}
#nb select{
    margin-top:1px;
    border: 1px solid #CC0033;
    color:black;
    width:49px;
    border-bottom:none;
}
#hide{
    visibility: hidden;
}
