//parfait !!!!!!
.blocinscri form {
    width:80%;
    margin: auto;
}
h2{
    color:rgb(119,119,119);
}
h3{
    color:#CC0033;
    border-bottom: 1px solid #CC0033;
}
.centre {
    position:relative;
    width:80%;
    margin: auto;
}
div.create_part{
    background-color:rgb(229,229,229);
    padding:10px;
}
div.create_part2{
    background-color:whitesmoke;
    padding:10px;
}
/*.right {
    diplay:inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
*/
/*.blocinscri form .long {
    vertical-align: top;
    width:80%;
    margin-left:10px;
    right:20px;
    border:1px black solid;
}
*/

/*label , input, .long{
    display:inline-block;
    margin-top:30px;
    
}*/
.plusieurs{
    display:inline-block;
}

.long{
    height:;
    width: 100%
}
.label{
    display:inline-block;
    width: 20%;
}
.long input{
    display:inline-block;
    width:78%;
}
label {
    display:inline-block;
    margin-top:30px;
    //width:8%;
    
}
#bouton{
    width:200px;
}
.gauche{
    font-size:small;
}