.blocinscri form {
    width:80%;
    margin: auto;
}
.blocinscri h2{
    color:rgb(119,119,119);
}
.blocinscri h3{
    color:#CC0033;
    border-bottom: 1px solid #CC0033;
}
.centre {
    position:relative;
    width:80%;
    margin: auto;
}
div.create_part{
    background-color:rgb(229,229,229);
    padding:10px;
}
div.create_part2{
    background-color:whitesmoke;
    padding:10px;
}

.plusieurs{
    display:inline-block;
}

.long{
    height:;
    width: 100%
}
.label{
    display:inline-block;
    width: 20%;
}
.long input{
    display:inline-block;
    width:78%;
}
.blocinscri label {
    display:inline-block;
    margin-top:30px;
    //width:8%;
    
}
#bouton{
    width:200px;
}
.gauche{
    font-size:small;
}
span.required {
  color: #CC0033;
  font-size: bold;
}