#haut{
    margin: auto;
    text-align: center;
}
ul li{
    display: inline-block;
    margin-left: 30px;
    vertical-align: text-top;
}
ul li img{
    height:100px;
    width:120px;
}
#tire{
    text-align: center;
}
#presentation{
    margin: auto;
    text-align: center;
}
.commentaire{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border:solid #CC0033 3px;
    font-family: Trebuchet MS;
    width:80%;
    text-align: center;
}
.avatar{
    margin: auto;
    height:50px;
    width:50px;
    border: solid black 2px;
    border-radius:100px;
    background:url(personnage%20logo.png);
    background-size: cover;
    background-position: center;
}
.utilisateur{
    width:150px;
}
.date{
    width:150px;
}
#AJ_txt{
    height:200px;
    width:70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 50px;
}
#Envoi p{
    margin-left:70%;
}
#num_page{   
    margin-left: auto;
    margin-right: auto;
}
#num_page td{
    height:20px;
    width:20px;
    text-align: center;
    border: solid #CC0033 2px;
}