tr,th,td{
    border : solid  #CC0033 2px;
}
//-- largeur tableau --
//image
.longueur1{
    width:10%;
}
//titre
.longueur2{
    width:40%;
}
//nom
.longueur3{
    width:20%;
}
//nombre
.longueur4{
    width:10%;
}
//date
.longueur5{
    width:10%;
}