#haut{
    margin:auto;

}
#haut div{

}
ul .enteteforum
{
  margin-top:1em;
  display: inline-block;
  color : white;
  width : 49%;
  line-height: 3.5em;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  background-color: #cc0033;
}
ul .enteteforum:hover
{
    color:#CC0033;
    background-color: rgb(235,235,235);
}
#forum{
  margin-bottom: 50px;
}
#forum tr{
  background-color: rgb(235,235,235);
}
.titresujet{
 color:#cc0033;
 background-color: rgb(235,235,235);
 border-bottom: solid 1px #cc0033;
}
#forum tr:first-child
{
    background-color:rgb(235,235,235);
}
#forum tr:nth-child(2n)
{
    background-color:whitesmoke;
}

#Trier{
    margin-top: 10px;
}
#link_topic{
  color:black;
}
#link_topic:hover{
  color:#cc0033;
}
table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.acceder a{
  background-color: #CC0033;
  color:white;
  border: 5px solid #CC0033;
  border-radius: 3px;
}
.acceder a:hover{
  background-color:#880000;
  border: 5px solid #880000;

}
.sujet{
    width:15em;
    height:45px;
}
.admin{
    width:15em;
}
.description{
   width:30em;
}
.date{
    width:15em;
}
.dernier_com{
    width:110px;
}
.vues{
    width:110px;
}
.com{
    width:110px;
}
#num_page{
    margin-bottom: 10px;
}
#num_page td{
    height:20px;
    width:20px;
    text-align: center;
    font-size: 1.5em;
    color:#cc0033;
}
a{
    text-decoration: none;
}
