#haut{
    margin: auto;
    text-align: center;
}
#haut li, #presentation li, #titre li{
    margin-top:30px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: text-center;
}
#haut a {
  background-color: white;
  border: 1px solid #cc0033;
  text-decoration: none;
  color: black;
  border-radius: 3px;
}
#haut a:hover{
  background-color: #cc0033;
  color: white;

}
#tire{
    text-align: center;
    width :100%;
}
#titre h1{
color:#cc0033;
border-bottom:1px solid #cc0033;
}
#presentation{
    margin: auto;
    text-align: center;
}
#presentation h3{
  color:#cc0033;
}
.first_ligne{
  background-color: rgb(229,229,229);
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  text-align: center;
  color:#cc0033;
}
.back1{
  background-color: rgb(229,229,229);
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  text-align: center;
}
.back2{
  background-color: whitesmoke;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: Trebuchet MS;
  width:80%;
  text-align: center;
}
.utilisateur{
    width:150px;
    border-right: 1px solid #cc0033;

}
.date{
    width:150px;
    border-right: 1px solid #cc0033;
}

#AJ_txt{
    height:200px;
    width:70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
#Envoi p{
    margin-left:70%;
}
#num_page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#num_page td{
    height:20px;
    width:20px;
    text-align: center;
    border: solid #CC0033 2px;
}
